<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form">
    <input type="hidden" name="id" id="id" th:value="${baseRoleInstance.id}"/>
    <input type="hidden" name="version" id="version" th:value="${baseRoleInstance.version}"/>

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <input type="text" class="form-control" name="authority" required id="inputBaseRole-authority"
                       th:value="${baseRoleInstance.authority}">
                <span class="form-bar"></span>
                <label for="inputBaseRole-authority" th:text="#{baseRole.authority.label}">authority</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="description" required id="inputBaseRole-description"
                       th:value="${baseRoleInstance.description}">
                <span class="form-bar"></span>
                <label for="inputBaseRole-description" th:text="#{baseRole.description.label}">description</label>
            </div>

        </div>
    </div>
</div>
<div th:fragment="show">

    <div class="form-group-separated">
        <div class="form-group">

            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label" th:text="#{baseRole.authority.label}">authority</label>
                <div class="col-md-8 col-xs-7"><label th:utext="${baseRoleInstance.authority}"/></div>
            </div>

            <div class="form-group">
                <label class="col-md-4 col-xs-5 control-label"
                       th:text="#{baseRole.description.label}">description</label>
                <div class="col-md-8 col-xs-7"><label th:utext="${baseRoleInstance.description}"/></div>
            </div>

        </div>

    </div>

</div>