html * {
    outline: none !important;
}

html,
body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f5f5f5 url('../images/login/bg.png') left top repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #656d78;
    overflow-x: hidden;
}

.body-full-height {
    height: 100%;
}

.body-full-height body {
    height: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row [class^='col-xs-'],
.row [class^='col-sm-'],
.row [class^='col-md-'],
.row [class^='col-lg-'] {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.row.stacked [class^='col-xs-'],
.row.stacked [class^='col-sm-'],
.row.stacked [class^='col-md-'],
.row.stacked [class^='col-lg-'] {
    padding-left: 0px;
    padding-right: 0px;
}

/* errors */
.error-container {
    width: 500px;
    margin: 50px auto 0px;
}

.error-container .error-code {
    float: left;
    width: 100%;
    font-size: 135px;
    line-height: 130px;
    text-align: center;
    color: #333;
    font-weight: 300;
}

.error-container .error-text {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 26px;
    line-height: 24px;
    text-transform: uppercase;
    color: #666;
    text-align: center;
    font-weight: 400;
}

.error-container .error-subtext {
    float: left;
    width: 100%;
    margin: 30px 0px 10px;
    font-size: 13px;
    line-height: 20px;
    color: #AAA;
    text-align: center;
    font-weight: 400;
}

.error-container .error-actions {
    float: left;
    width: 100%;
    margin-top: 10px;
}

/* end errors */


/* BUTTONS */
.btn {
    font-size: 12px;
    padding: 4px 15px;
    line-height: 20px;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.btn.btn-lg,
.btn-group-lg > .btn {
    font-size: 14px;
    padding: 12px 20px;
}

.btn.btn-sm,
.btn-group-sm > .btn {
    font-size: 11px;
    padding: 2px 10px;
}

.btn.btn-xs,
.btn-group-xs > .btn {
    font-size: 10px;
    padding: 0px 5px;
}

.btn-default {
    border-color: #DDD;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: #F5F5F5;
    border-color: #DDD;
}

.btn-danger {
    background-color: #b64645;
    border-color: #b64645;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-color: #a43f3e;
    border-color: #a43f3e;
}

.btn-danger[disabled],
.btn-danger.disabled {
    background: #c66968;
    border-color: #c36261;
}

.btn-warning {
    background-color: #fea223;
    border-color: #fea223;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-color: #fe970a;
    border-color: #fe970a;
}

.btn-warning[disabled],
.btn-warning.disabled {
    background: #feb756;
    border-color: #feb34c;
}

.btn-success {
    background-color: #95b75d;
    border-color: #95b75d;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-color: #89ad4d;
    border-color: #89ad4d;
}

.btn-success[disabled],
.btn-success.disabled {
    background: #acc780;
    border-color: #a7c479;
}

.btn-primary {
    background-color: #33414e;
    border-color: #33414e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #29343f;
    border-color: #29343f;
}

.btn-primary[disabled],
.btn-primary.disabled {
    background: #475b6d;
    border-color: #435667;
}

.btn-info {
    background-color: #3fbae4;
    border-color: #3fbae4;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-color: #29b2e1;
    border-color: #29b2e1;
}

.btn-info[disabled],
.btn-info.disabled {
    background: #6ccaea;
    border-color: #63c7e9;
}

.btn-link {
    font-weight: 600;
    color: #33414e;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active {
    color: #33414e;
}

.btn .fa,
.btn .glyphicon {
    font-size: 14px;
    margin-right: 5px;
}

.btn.btn-rounded {
    background: transparent;
    color: #656d78;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border-width: 2px;
    padding: 2px 10px;
    font-weight: 600;
}

.btn.btn-rounded.btn-default:hover,
.btn.btn-rounded.btn-default:focus,
.btn.btn-rounded.btn-default:active,
.btn.btn-rounded.btn-default.active {
    border-color: #CCC;
    color: #333;
}

.btn.btn-rounded.btn-success {
    color: #95b75d;
}

.btn.btn-rounded.btn-success:hover,
.btn.btn-rounded.btn-success:focus,
.btn.btn-rounded.btn-success:active,
.btn.btn-rounded.btn-success.active {
    border-color: #89ad4d;
    color: #89ad4d;
}

.btn.btn-rounded.btn-warning {
    color: #fea223;
}

.btn.btn-rounded.btn-warning:hover,
.btn.btn-rounded.btn-warning:focus,
.btn.btn-rounded.btn-warning:active,
.btn.btn-rounded.btn-warning.active {
    border-color: #fe970a;
    color: #fe970a;
}

.btn.btn-rounded.btn-info {
    color: #3fbae4;
}

.btn.btn-rounded.btn-info:hover,
.btn.btn-rounded.btn-info:focus,
.btn.btn-rounded.btn-info:active,
.btn.btn-rounded.btn-info.active {
    border-color: #29b2e1;
    color: #29b2e1;
}

.btn.btn-rounded.btn-danger {
    color: #b64645;
}

.btn.btn-rounded.btn-danger:hover,
.btn.btn-rounded.btn-danger:focus,
.btn.btn-rounded.btn-danger:active,
.btn.btn-rounded.btn-danger.active {
    border-color: #a43f3e;
    color: #a43f3e;
}

.btn.btn-rounded.btn-primary {
    color: #33414e;
}

.btn.btn-rounded.btn-primary:hover,
.btn.btn-rounded.btn-primary:focus,
.btn.btn-rounded.btn-primary:active,
.btn.btn-rounded.btn-primary.active {
    border-color: #29343f;
    color: #29343f;
}

.btn:active,
.btn.active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-twitter {
    background: #1AB2E8;
    border-color: #1AB2E8;
}

.btn.btn-twitter:hover,
.btn.btn-twitter:focus,
.btn.btn-twitter:active,
.btn.btn-twitter.active {
    background: #15a1d3;
}

.btn.btn-facebook {
    background: #3C599B;
    border-color: #3C599B;
}

.btn.btn-facebook:hover,
.btn.btn-facebook:focus,
.btn.btn-facebook:active,
.btn.btn-facebook.active {
    background: #354e89;
}

.btn.btn-google {
    background: #E04A39;
    border-color: #E04A39;
}

.btn.btn-google:hover,
.btn.btn-google:focus,
.btn.btn-google:active,
.btn.btn-google.active {
    background: #dd3623;
}

.btn.btn-condensed {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.btn.btn-condensed .fa,
.btn.btn-condensed .glyphicon {
    margin: 0px;
    text-align: center;
}

.btn.btn-condensed.btn-sm {
    padding-left: 8px;
    padding-right: 8px;
}

.btn.btn-condensed.btn-lg {
    padding-left: 15px;
    padding-right: 15px;
}

/* EOF BUTTONS */
